.Homepage {
  z-index: 1;
  display: flex;
  justify-content: center;
  height: 100%;
}

.Homepage-presentation {
  height: 100%;
}

.Homepage-border {
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: double thick;
  height: 50%;
}

.Homepage-title {
  font-size: 50px;
}
