.Navigation {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  height: 100px;
}

.Navigation-title {
  padding-top: 0px;
  color: #D80079;
}

.Navigation-menu {
  margin-top: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.Navigation-item {
  margin: 10px;
}

.Navigation-link {
  text-decoration: none;
  color: #D80079;
}
