.Navigation {
  background-color: white;
  color: black;
  display: flex;
  top: 0;
  justify-content: flex-end;
  height: 70px;
  position: sticky;
  z-index: 1;
}

.Navigation-menu {
  margin-top: 0;
  margin-right: 30px;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.Navigation-menu li {
  cursor: pointer;
}

.Navigation-title {
  padding-top: 0px;
}


.Navigation-item {
  margin: 10px;
  text-decoration: none;
}
