.App {
  background-image: url('./assets/home.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  height: 100%;

}

.App-router {
  height: calc(100% - 100px);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
