.App {
  height: 100%;
}

.App-content {
  height: 100%;
}

#App-homepage {
  background-image: url('./assets/work.jpg');
  background-size: cover;
  height: 100vh;
}

#App-studies {

  background-image: url('./assets/bali.jpg');
  background-size: cover;
  height: 100vh;
}

#App-profile {

  height: 100vh;
  background-image: url('./assets/road.jpg');
  background-size: cover;
}

#App-hobbies {

  height: 100vh;
  background-image: url('./assets/skate.jpg');
  background-size: cover;
}

#App-experiences {

  background-image: url('./assets/venice_beach.jpg');
  background-size: cover;
  height: 100vh;
}
