.App {
  height: 100%;
}

.App-content {
  height: 100%;
}

#App-homepage {
  height: 100%;
  background-color: red;
}

#App-studies {
  height: 100%;
  background-color: blue;
}

#App-profile {
  height: 100%;
  background-color: purple;
}

#App-hobbies {
  height: 100%;
  background-color: green;
}

#App-experiences {
  height: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
